%p
  = form.label :username
  %br
  = form.text_field :username
%p
  = form.label :email
  %br
  = form.text_field :email
  
- unless form.object.new_record?
  %p
    = form.label :password, "Change password"
    %br
    = form.password_field :password
  %p
    = form.label :password_confirmation
    %br
    = form.password_field :password_confirmation

